{% extends 'homepage/layout.html' %}
{% load static %}


{% block title %}Добавление друзей{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'friends_reg/css/friends_reg.css' %}"> {% endblock %}

{% block content %}
    <div class="container position-fixed">
        <div class="row">
            <div class="col">
                <img src="https://pictures.s3.yandex.net/resources/anfisa_1594642601.png" class="grid-item item1">
            </div>
            <div class="col">
                <form action="" method="post" class="grid-item item2">
                    {% csrf_token %}
                    <label for="name">Название мороженого:</label><br>
                    <input type="text" id="name" name="name"><br>

                    <label for="description">Описание мороженого:</label><br>
                    <textarea class="text" type="text" id="description" name="description" cols="75"></textarea>
                    <button type="submit" class="btn btn-success">Добавить</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}