<!DOCTYPE html>
<html>
  <head>
      <meta charset="UTF-8">
  </head>
  <body>
      <h1>Анфиса для друзей</h1>
      <img src="https://pictures.s3.yandex.net/resources/anfisa_1594642601.png">
      <br>
      <p> {{ friend_output|safe }} </p>
      <p> {{ city_weather|safe }} </p>

      <form action="/" method="post">
          {% csrf_token %} <!--Текущая стрница ВАЖНО!!!!-->
          <h3>Выберите друга</h3>
          {{ friends|safe }}
          <br>
          <input type="submit" value="Узнать город и погоду">
      </form>
      <p> {{ icecreams|safe }} </p>
  </body>
</html>
