<!DOCTYPE html>
<html>
  <head>
      <meta charset="UTF-8">
  </head>
  <body>
      <h1>Анфиса для друзей</h1>
      <img src="https://pictures.s3.yandex.net/resources/anfisa_1594642601.png">
      <br>
      <p> {{ friend_output|safe }} </p>
      <p> {{ city_weather|safe }} </p>
      <p> Числовое значение температуры: {{ parsed_temperature }} </p>
      <p> Мнение Анфисы: {{ conclusion }}</p>
      <form action="/" method="post">
          {% csrf_token %} <!--Текущая стрница ВАЖНО!!!!-->
          <h3>Выберите друга</h3>
          {{ friends|safe }}
          <br>
          <h2>Выбирите мороженое</h2>
          {{ icecreams|safe }}
          <input type="submit" value="Угостить">
      </form>
  </body>
</html>
